:root {
  --musta: #000;
  --tumman-harmaa: #202125;
  --pääväri: #05408d;
  --apuväri-2: #357d7b;
  --apuväri-1: #1b66b1;
  --harmaa: #26272b;
  --white: white;
  --gainsboro: #e4e5e9;
  --alice-blue: #e7f6fc;
  --white-smoke: #eff0f1;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: var(--musta);
  letter-spacing: .6px;
  text-transform: uppercase;
  font-family: Barlow Condensed, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  color: var(--tumman-harmaa);
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  color: var(--tumman-harmaa);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Barlow Condensed, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

p {
  color: var(--musta);
  letter-spacing: 0;
  text-transform: none;
  margin-bottom: 16px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

a {
  text-decoration: underline;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
}

figcaption {
  text-align: center;
  margin-top: 5px;
}

.arrow-wrapper {
  grid-row-gap: 0px;
  flex-direction: column;
  flex: none;
  align-items: center;
  margin-left: 4px;
  display: flex;
}

.logo-text {
  color: var(--pääväri);
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-top: 2px;
  margin-bottom: 0;
  font-family: Barlow Condensed, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
}

.button-arrow-link {
  border: 2px solid var(--apuväri-2);
  color: var(--apuväri-2);
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 14px 23px;
  text-decoration: none;
  transition: background-color .2s cubic-bezier(.645, .045, .355, 1);
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.button-arrow-link.transparent {
  border-style: none;
  padding-top: 6px;
  padding-bottom: 6px;
}

.button-arrow-link.transparent.no-padding {
  padding-left: 0;
}

.button-arrow-link.transparent.no-padding.display-block {
  display: block;
}

.button-arrow-link.transparent.show-mobile {
  display: none;
}

.button-arrow-link.transparent.darker {
  color: #003859;
}

.button-arrow-link.transparent.darker.navigation {
  background-color: var(--pääväri);
  color: #fff;
  padding: 11px 24px 11px 26px;
}

.button-arrow-link.white {
  background-color: #fff;
  border-style: none;
}

.first-element {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: row;
  order: -1;
  align-items: center;
  display: flex;
}

.shrink-item {
  z-index: 1;
  flex: 1;
  position: relative;
}

.brand {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  align-items: center;
  display: flex;
}

.button-label {
  z-index: 4;
  grid-column-gap: 5px;
  align-items: center;
  display: flex;
  position: relative;
}

.button-label.reverse {
  grid-column-gap: 16px;
  flex-flow: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.label-button {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Barlow Condensed, sans-serif;
  font-size: 19px;
  font-weight: 600;
}

.label-button.medium {
  text-transform: uppercase;
  font-family: Barlow Condensed, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 1;
}

.label-button.align-left {
  text-align: left;
}

.label-button.align-left.larger {
  font-size: 19px;
}

.icon-arrow {
  color: var(--apuväri-2);
  width: 18px;
  height: 18px;
}

.nav-link {
  color: #000;
  padding: 13px 0;
  font-size: 16px;
  font-weight: 500;
  transition: color .2s, opacity .3s;
}

.nav-link:hover {
  color: var(--apuväri-1);
}

.nav-link.w--current {
  color: #000;
}

.nav-menu {
  grid-column-gap: 46px;
  grid-row-gap: 30px;
  display: flex;
}

.nav-component {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #0000;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px 3% 20px;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
}

.flex-nav-button {
  grid-column-gap: 10px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.flex-center {
  justify-content: center;
  display: flex;
}

.kokoomus-logo {
  width: 40px;
}

.kokoomus-logo.show-mobile {
  display: none;
}

.nav-container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: .4fr 1fr .4fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  display: grid;
}

.foorer-list {
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  place-items: flex-start start;
  display: flex;
}

.gray-link {
  color: var(--musta);
  font-weight: 600;
  text-decoration: none;
  display: inline;
}

.gray-link:hover {
  text-decoration: underline;
}

.footer {
  padding: 50px 5% 30px;
}

.footer-logo-link {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: center;
  margin-bottom: 32px;
  display: flex;
}

.social-icon {
  object-fit: contain;
  width: 16px;
  height: 18px;
}

.social-icon.no-invert {
  width: 22px;
}

.footer-link-main {
  color: var(--musta);
  align-items: center;
  margin-bottom: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.footer-link-main:hover {
  color: #838383;
}

.footer-link-main.w--current {
  color: var(--musta);
}

.footer-link-main.small {
  margin-bottom: 0;
  margin-right: 0;
  font-size: 15px;
  display: inline-flex;
}

.social-link {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: var(--musta);
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.footer-main-grid {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  grid-template-rows: auto;
  grid-template-columns: 1.4fr 1fr;
  align-items: stretch;
}

.footer-grid {
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.margin-25px {
  margin-top: 25px;
}

.margin-25px.add-line-divider {
  border-top: 1px solid #e1e1e1;
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
}

.margin-50px {
  margin-top: 50px;
}

.footer-left-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-title {
  color: var(--pääväri);
  margin-bottom: 24px;
  font-size: 19px;
  font-weight: 600;
}

.footer-title.black {
  color: var(--tumman-harmaa);
}

.container-2 {
  z-index: 10;
  flex: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.social-grid {
  grid-column-gap: 18px;
  grid-row-gap: 20px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.social-grid.horizontal {
  grid-column-gap: 20px;
  flex-direction: row;
}

.copyright-2 {
  color: var(--tumman-harmaa);
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
}

.error-message {
  color: #fe0000;
  text-align: center;
  background-color: #ffeaea;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
}

.hero-w-width {
  max-width: 520px;
  margin-left: 0;
  margin-right: auto;
}

.hero-w-width.on-inner {
  max-width: 700px;
  margin-left: 0;
}

.hero-w-width.on-inner.center {
  text-align: center;
  max-width: 900px;
  margin-left: auto;
}

.blue {
  color: var(--pääväri);
}

.display-1 {
  color: var(--pääväri);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 64px;
  font-weight: 600;
  line-height: 1.15;
}

.display-1.for-blog-page {
  font-size: 54px;
}

.display-1.for-blog-page.show-mobile {
  display: none;
}

.display-1.for-blog-page.black-text {
  color: var(--tumman-harmaa);
}

.margin-30px {
  margin-top: 30px;
}

.margin-30px.blog {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.margin-30px.hide {
  display: none;
}

.margin-30px.bottom-margin-15px {
  margin-bottom: 15px;
}

.subhead {
  max-width: 88%;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.4;
}

.line-overlay {
  background-color: var(--apuväri-2);
  width: 100%;
  height: 100%;
}

.hero {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  padding: 120px 5% 50px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.button-flex {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  display: flex;
}

.hero-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr minmax(200px, 1fr);
  grid-auto-columns: 1fr;
  align-items: center;
  padding-top: 20px;
  display: grid;
}

.button-color-text {
  color: var(--apuväri-2);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Barlow Condensed, sans-serif;
  font-size: 19px;
}

.navlink {
  color: #121217;
  margin-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  overflow: hidden;
}

.navlink.for-button {
  color: #fff;
  margin-top: 15px;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.navlink.for-button.blue.small {
  margin-top: 10px;
  padding-top: 12px;
  font-size: 14px;
}

.navlink.for-button.blue {
  color: #00aeef;
  text-transform: none;
  background-color: #eff0f1;
  margin-top: 0;
  padding: 15px 16px 10px;
  font-size: 15px;
}

.container {
  z-index: 1;
  flex: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.line-animation {
  background-color: #0000;
  width: 100%;
  height: 1px;
  margin-top: 3px;
  overflow: hidden;
}

.margin-40px {
  margin-top: 40px;
}

.qoute-margin {
  color: var(--tumman-harmaa);
  margin-right: 5px;
  line-height: 1.2;
  display: inline-block;
}

.grid-2-columns {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: .8fr 1.3fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.grid-2-columns.home-about {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  grid-template-columns: .8fr 1fr;
}

.grid-2-columns.home-about.inverse {
  grid-template-columns: 1fr .8fr;
}

.grid-2-columns.ratio {
  grid-template-columns: 1fr 1fr;
}

.section {
  background-color: #fff;
  padding: 60px 5%;
  position: relative;
}

.section.for-contact {
  padding-top: 20px;
}

.section.privacy-policy {
  padding-top: 140px;
}

.section.after-sticky {
  background-color: #fff;
}

.section.light-background {
  background-color: #f5f5f5;
}

.section.contact-page {
  padding-top: 0;
}

.section.cta {
  background-color: var(--apuväri-1);
  padding-top: 32px;
  padding-bottom: 32px;
}

.title-fade {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 600;
  line-height: 1.1;
}

.title-fade.for-fade.blue {
  color: var(--apuväri-1);
  line-height: 1.2;
}

.title-fade.for-fade.biger {
  color: var(--tumman-harmaa);
  font-size: 54px;
  line-height: 1.1;
}

.title-fade.for-fade.biger.blue {
  color: var(--pääväri);
}

.title-fade.for-fade.biger.blue.margin-25px {
  color: var(--apuväri-1);
}

.title-fade.for-fade.h1-home {
  color: var(--tumman-harmaa);
  font-size: 64px;
  line-height: 1;
}

.title-fade.for-fade.h1 {
  color: var(--tumman-harmaa);
  font-size: 48px;
}

.title-fade.for-fade.h1.blue {
  color: var(--pääväri);
}

.title-fade.for-fade.h1.blue._2 {
  color: var(--apuväri-1);
}

.container-3 {
  z-index: 1;
  flex: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.footer-icon {
  width: 46px;
}

.absolute-image {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.absolute-image.tall {
  object-fit: cover;
  height: 550px;
}

.absolute-image.tall.container-6 {
  object-fit: contain;
}

.absolute-image.join {
  object-position: 50% 50%;
}

.absolute-image.align-left-30 {
  object-position: 30% 50%;
}

.absolute-image.align-left-70 {
  object-position: 70% 50%;
}

.absolute-image.align-left-63 {
  object-position: 63% 50%;
}

.absolute-image.align-left-90 {
  object-position: 90% 50%;
}

.absolute-image.align-left-0 {
  object-position: 0% 50%;
}

.absolute-image.cover-left-30 {
  object-position: 30% 50%;
}

.margin-20px {
  margin-top: 20px;
}

.features-title-2 {
  color: var(--tumman-harmaa);
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.4;
}

.icon-wrapper {
  flex: none;
  align-self: flex-start;
  margin-right: 15px;
}

.grid {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: end;
  margin-top: 20px;
  display: grid;
  position: relative;
}

.grid.two-columns {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
}

.grid.two-columns.ratio-1-2 {
  grid-template-columns: 1fr 2fr;
  align-items: center;
  min-height: 0;
}

.grid.two-columns.kuntavaalit {
  align-items: center;
}

.feautes-item {
  display: flex;
}

.feautes-item._2 {
  grid-row-gap: 10px;
  background-color: #fff;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 22px 24px 32px;
}

.feautes-item._2.vapaus-ja-vastuunkanto {
  background-image: linear-gradient(#fff3, #fff3), url('../images/vapaus.png');
  background-position: 0 0, 90% 90%;
  background-repeat: repeat, no-repeat;
  background-size: auto, auto 90%;
}

.feautes-item._2.usko-parempaan-huomiseen {
  background-image: linear-gradient(#fff3, #fff3), url('../images/yhteiso.png');
  background-position: 0 0, 90% 90%;
  background-repeat: repeat, no-repeat;
  background-size: auto, auto 90%;
}

.feautes-item._2.yhteis-llisyyden-voima {
  background-image: linear-gradient(#fff3, #fff3), url('../images/tasa-arvo.png');
  background-position: 0 0, 90% 90%;
  background-repeat: repeat, no-repeat;
  background-size: auto, auto 90%;
}

.icon-outline {
  color: #7f56d9;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70px;
  height: 70px;
  display: flex;
}

.icon-outline.second {
  height: 60px;
}

.icon-outline.second.home-values {
  width: 36px;
  height: auto;
}

.blog-list {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.small-title {
  color: var(--harmaa);
  margin-top: 0;
  font-size: 30px;
  line-height: 1.2;
}

.small-title._20px {
  font-size: 20px;
  line-height: 25px;
}

.flex-title {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.blog-title {
  color: var(--tumman-harmaa);
  margin-top: 0;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.3;
}

.margin-60px {
  margin-top: 60px;
}

.margin-60px.hide {
  display: none;
}

.blog-main {
  overflow: hidden;
}

.blog-thumbnail {
  float: left;
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.category-text {
  color: #838383;
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}

.bottom-part {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-top: 20px;
  padding-right: 1px;
  display: flex;
  position: relative;
}

.button-flex-category {
  grid-column-gap: 15px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.ceo-grid {
  grid-column-gap: 50px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1.2fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.ceo-grid.tule-mukaan {
  grid-column-gap: 32px;
  grid-template-columns: 1fr 1.3fr;
}

.hero-2 {
  background-image: url('../images/hero-3.jpg');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 650px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  padding: 100px 5% 50px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.hero-2.for-inner {
  min-height: auto;
  padding-top: 180px;
  padding-bottom: 40px;
}

.hero-2.for-inner.about {
  background-image: none;
  padding-top: 140px;
}

.button-color-text-2 {
  color: #00aeef;
}

.hero-3 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  padding: 100px 5% 50px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.hero-3.for-inner {
  min-height: auto;
  padding-top: 180px;
  padding-bottom: 40px;
}

.hero-3.for-inner.no-photo {
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  padding-top: 140px;
  padding-bottom: 30px;
}

.hero-grid-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr minmax(200px, 1fr);
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.hero-grid-2.inner {
  display: block;
}

.container-5 {
  z-index: 1;
  flex: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.contact-grid-main {
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1.2fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  margin-top: 40px;
  display: grid;
}

.contact-grid-main.single-column {
  grid-template-columns: 1fr 3fr 1fr;
}

.success-message {
  color: #00aeef;
  background-color: #f1f4ff;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
}

.button {
  background-color: var(--pääväri);
  color: #fff;
  text-align: center;
  letter-spacing: .5px;
  text-transform: uppercase;
  align-items: center;
  margin-top: 4px;
  padding: 15px 25px;
  font-weight: 600;
  transition: all .15s;
  position: relative;
}

.button:hover {
  background-color: var(--apuväri-1);
}

.text-area {
  background-color: #0000;
  border: 1px solid #e9e9e9;
  margin-bottom: 0;
  padding: 15px 20px 35px;
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
}

.text-area:focus {
  color: #211f54;
}

.text-area::placeholder {
  color: #6b6b6b;
  font-size: 15px;
  font-weight: 400;
}

.label {
  color: #fff;
  max-width: 88%;
  font-family: Inter, sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
}

.label.dark {
  color: var(--tumman-harmaa);
  letter-spacing: .5px;
  text-transform: uppercase;
  max-width: 100%;
  font-family: Barlow Condensed, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.1;
}

.input {
  background-color: #0000;
  border: 1px solid #e9e9e9;
  min-height: 56px;
  margin-bottom: 0;
  padding: 16px 20px;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}

.input::placeholder {
  color: #6b6b6b;
  font-size: 15px;
  font-weight: 400;
}

.toggle-main {
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.gray-text-2 {
  color: #2c2c2c80;
}

.form-grid {
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.paragraph {
  padding-top: 15px;
}

.contact-link {
  color: var(--harmaa);
  letter-spacing: 0;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  transition: color .3s;
}

.contact-link:hover {
  color: var(--apuväri-1);
  text-decoration: none;
}

.divider-line {
  background-color: #e7e6e6;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.divider-line.margins-32px {
  margin-top: 32px;
  margin-bottom: 32px;
}

.contact-details-flex {
  grid-column-gap: 30px;
  grid-row-gap: 15px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.container-6 {
  z-index: 1;
  flex: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.contact-form-right-side {
  background-color: #f7f8fc;
  background-image: url('../images/muoto.png');
  background-position: 90% 0;
  background-repeat: no-repeat;
  background-size: 50px;
  align-items: center;
  padding: 40px 55px;
  display: flex;
}

.container-8 {
  z-index: 1;
  flex: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.legal-wrapper {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.upgrade-accent {
  background-color: var(--pääväri);
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.upgrade-accent.green {
  background-color: var(--apuväri-2);
}

.upgrade-container {
  z-index: 10;
  text-align: left;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  min-height: 400px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 50px 50px;
  font-weight: 300;
  display: block;
  position: relative;
  overflow: hidden;
}

.popup-text {
  color: var(--musta);
  letter-spacing: 0;
  text-transform: none;
  margin-bottom: 16px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.hide-me-overlay {
  z-index: 8888;
  background-color: #0003;
  display: none;
  position: fixed;
  inset: 0;
  overflow: auto;
}

.hide-me-overlay.enemm-n-vapautta-ja-sivistyst, .hide-me-overlay.vakaasti-kohti-parempaa-huomista, .hide-me-overlay.mahdollisuuksien-tasa-arvoa-ja-kaikenik-isten-huomioimista, .hide-me-overlay.kohti-vakaata-ja-tasapainoista-keusoten-taloutta {
  display: none;
}

.modal-scroll {
  width: 100%;
  min-height: 100vh;
  padding: 50px 50px 100px;
  position: absolute;
}

.popup-header {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

.close-overlay {
  z-index: 9;
  opacity: .25;
  cursor: pointer;
  position: absolute;
  inset: 0;
}

.service-page-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.service-page-wrapper h2 {
  color: var(--apuväri-1);
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}

.service-page-wrapper p {
  margin-bottom: 14px;
  font-size: 15px;
  line-height: 1.5;
}

.service-page-wrapper h3 {
  color: var(--tumman-harmaa);
  font-size: 18px;
  font-weight: 600;
}

.brochure-card {
  background-color: #f7f8fc;
  padding: 37px 33px;
}

.page-grid {
  grid-column-gap: 60px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .4fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  margin-top: 40px;
  display: grid;
}

.main-flex {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  display: flex;
}

.sidebar {
  margin-top: 20px;
  position: sticky;
  top: 100px;
}

.container-9 {
  z-index: 1;
  flex: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.social-handle {
  text-transform: none;
  font-weight: 500;
}

.hero-5 {
  background-image: url('../images/hero-3.jpg');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 650px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  padding: 100px 5% 50px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.hero-5.for-inner {
  min-height: auto;
  padding-top: 180px;
  padding-bottom: 40px;
}

.hero-5.for-inner.no-photo {
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  padding-top: 140px;
  padding-bottom: 30px;
}

.hero-grid-4 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr minmax(200px, 1fr);
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.hero-grid-4.inner {
  display: block;
}

.blog-meta-wrapper {
  border: 1px solid var(--pääväri);
  color: var(--pääväri);
  mix-blend-mode: multiply;
  border-radius: 50px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
}

.container-10 {
  z-index: 1;
  flex: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.blog-image-container {
  padding-top: 56%;
  position: relative;
}

.blog-wrapper {
  max-width: 86%;
  margin-left: auto;
  margin-right: auto;
}

.section-2 {
  padding: 100px 5%;
  position: relative;
}

.section-2.blog-page {
  padding-top: 30px;
}

.blog-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.blog-image.limit-height {
  object-fit: cover;
}

.container-11 {
  z-index: 1;
  flex: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.blog-rich-text-block {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.blog-rich-text-block h2 {
  color: var(--tumman-harmaa);
  margin-bottom: 14px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.3;
}

.blog-rich-text-block h3 {
  color: var(--tumman-harmaa);
  letter-spacing: 0;
  text-transform: none;
  margin-top: 20px;
  margin-bottom: 16px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.blog-rich-text-block p {
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 23px;
}

.blog-rich-text-block strong {
  color: var(--musta);
}

.blog-rich-text-block a {
  color: var(--tumman-harmaa);
}

.blog-rich-text-block em {
  letter-spacing: 0;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.blog-rich-text-block li {
  letter-spacing: 0;
  text-transform: none;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
}

.blog-rich-text-block figcaption {
  letter-spacing: 0;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
}

.span-accent {
  color: var(--pääväri);
}

.security-wrapper-2 {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  display: flex;
}

.security-icon {
  width: 20px;
}

.security-text {
  color: var(--harmaa);
  letter-spacing: 0;
  text-transform: none;
  padding-left: 16px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.link-large {
  color: #171717;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: underline;
}

.link-large.security-link {
  font-size: 14px;
}

.features-wrapper {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 32px;
  margin-bottom: 42px;
  display: flex;
}

.feature-wrapper {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-rows: auto;
  grid-template-columns: 24px 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.feature-check {
  color: var(--apuväri-1);
  width: 22px;
  height: 22px;
}

.feature-text-block {
  letter-spacing: 0;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
}

.privacy-policy-heading {
  color: var(--tumman-harmaa);
  font-weight: 600;
}

.kokoomus-logo-wrapper {
  display: none;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 90vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-icon {
  width: 42px;
  margin-left: auto;
  margin-right: auto;
}

.space._20 {
  height: 20px;
}

.space._60 {
  height: 60px;
}

.social-link-2 {
  margin-left: 15px;
  margin-right: 15px;
}

.social-link-2.round {
  background-color: #0000;
  border: 1px solid #1b1b1b1a;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  transition: border-color .2s, background-color .2s;
  display: flex;
}

.social-link-2.round:hover {
  background-color: #1b1b1b1a;
  border-color: #0000;
}

.social-icon-small {
  max-height: 12px;
}

.author-avatar-link {
  flex: none;
  margin-right: 30px;
}

.social-links {
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
}

.social-links.article-author-social-links {
  margin-top: 15px;
}

.article-author {
  align-items: flex-start;
  max-width: 640px;
  margin: 40px auto;
  display: flex;
}

.author {
  color: #1b1b1b;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  text-decoration: none;
  display: flex;
}

.avatar-image-wrapper {
  border-radius: 50%;
  width: 90px;
  max-width: 100%;
  height: 90px;
  overflow: hidden;
}

.small-text {
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
}

.small-text.muted {
  opacity: .5;
  font-weight: 500;
  line-height: 1.3;
}

.home-about-image-wrapper {
  padding-top: 150%;
  position: relative;
  overflow: hidden;
}

.bold-text {
  color: var(--tumman-harmaa);
}

.legal-paragraph {
  font-size: 16px;
  line-height: 1.5;
}

.blog-signature-wrapper {
  max-width: 640px;
  margin: 20px auto 32px;
}

.blog-signature {
  width: 160px;
}

.henri-kontkin-jarvenpaa {
  margin-top: 20px;
  margin-bottom: 32px;
}

.relative-image-wrapper {
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.relative-image-wrapper.join {
  padding-top: 65%;
}

.relative-image-wrapper.tule-mukaan-150 {
  padding-top: 150%;
}

.relative-image-wrapper.kuntavaalit {
  margin-bottom: 60px;
  padding-top: 50%;
}

.relative-image-wrapper.tule-mukaan-hero {
  padding-top: 75%;
}

.text-primary {
  color: var(--pääväri);
}

.text-primary.font-size-20px {
  font-size: 20px;
}

.home-about-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.home-about-image.align-left-16 {
  object-position: 16% 50%;
}

.no-margins {
  margin-top: 0;
  margin-bottom: 0;
}

.home-image-shape {
  background-color: #fff;
  width: 20%;
  height: 120%;
  position: absolute;
  transform: rotate(10deg);
}

.home-image-shape.left {
  inset: -10% auto auto -10%;
}

.home-image-shape.right {
  inset: -10% -10% auto auto;
}

.paragraph-small {
  font-size: 15px;
}

.legal-links-flex {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  align-items: center;
  display: flex;
}

.footer-legal-wrapper {
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  display: flex;
}

.two-button-flex {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  align-items: center;
  display: flex;
}

.footer-text-block {
  text-transform: none;
  margin-bottom: 16px;
  font-weight: 500;
}

.blue-link {
  color: var(--apuväri-1);
  font-weight: 500;
}

.election-rich-text-block h1 {
  color: var(--apuväri-1);
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 600;
}

.election-rich-text-block h2 {
  color: var(--apuväri-2);
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 1.2;
}

.election-rich-text-block li {
  letter-spacing: 0;
  text-transform: none;
  margin-bottom: 6px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.election-rich-text-block ul {
  margin-top: 32px;
  margin-bottom: 16px;
}

.election-rich-text-block a {
  color: var(--apuväri-1);
}

.election-rich-text-block.larger-font p {
  font-size: 18px;
}

.election-rich-text-block h3 {
  color: var(--apuväri-1);
  letter-spacing: 0;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}

.text-white {
  color: var(--white);
}

.aluevaalit-grid {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
}

.aluevaalit-item {
  justify-content: center;
  align-items: center;
  padding-top: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.aluevaalit-item-content {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 42px;
  display: flex;
  position: absolute;
  inset: 0%;
}

.aluevaalit-title {
  color: var(--white);
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 28px;
}

.aluevaalit-item-image {
  z-index: -2;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.div-block {
  z-index: -1;
  background-image: linear-gradient(to bottom, var(--apuväri-2), var(--apuväri-2));
  opacity: .8;
  position: absolute;
  inset: 0%;
}

.values-grid {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.values-grid.three-columns {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.center-text {
  text-align: center;
}

.aluevaalit-paragraph {
  color: var(--apuväri-2);
  background-color: #fff;
  margin-bottom: 0;
  padding: 10px;
  font-weight: 600;
}

.cybotcookiebotdialogactive {
  text-transform: none;
  font-weight: 400;
}

.cybotcookiebotdialogactive.hide {
  display: none;
}

.avatar-image {
  object-fit: cover;
  object-position: 50% 30%;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 100px;
  }

  .form-grid {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  .relative-image-wrapper.tule-mukaan-150 {
    padding-top: 120%;
  }

  .aluevaalit-title {
    margin-bottom: 24px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1920px) {
  .hero, .hero-2, .hero-3, .hero-5 {
    min-height: auto;
  }
}

@media screen and (max-width: 991px) {
  .brand {
    padding-left: 0;
  }

  .menu-button {
    order: 1;
  }

  .menu-button.w--open {
    background-color: #0000;
  }

  .nav-link {
    border-bottom-style: none;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 15px;
  }

  .nav-menu {
    grid-column-gap: 30px;
    background-color: #fff;
    width: 300px;
    padding-top: 19px;
  }

  .nav-component {
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
  }

  .flex-nav-button {
    order: 1;
  }

  .hamburger-menu {
    width: 22px;
  }

  .kokoomus-logo.show-mobile {
    padding-left: 15px;
    display: block;
  }

  .nav-container {
    grid-template-columns: .3fr 1fr;
    display: flex;
  }

  .footer-main-grid {
    grid-column-gap: 0px;
    grid-row-gap: 50px;
    grid-template-columns: 1fr;
  }

  .footer-left-wrapper {
    max-width: 70%;
  }

  .hero-w-width {
    max-width: 100%;
  }

  .hero-w-width.on-inner {
    max-width: 90%;
  }

  .display-1.for-blog-page {
    font-size: 50px;
  }

  .hero {
    background-image: none;
    min-height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .hero-grid {
    grid-row-gap: 60px;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .grid-2-columns {
    flex-direction: column;
  }

  .grid-2-columns.home-about {
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section.privacy-policy {
    padding-top: 40px;
  }

  .title-fade {
    font-size: 45px;
  }

  .title-fade.for-fade {
    font-size: 32px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .grid.two-columns.kuntavaalit {
    grid-template-columns: 1fr;
  }

  .blog-list {
    grid-column-gap: 30px;
    grid-row-gap: 45px;
    grid-template-columns: 1fr 1fr;
  }

  .blog-title {
    font-size: 23px;
  }

  .ceo-grid {
    grid-row-gap: 30px;
    flex-direction: column;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .ceo-grid.tule-mukaan {
    grid-template-columns: 1fr;
  }

  .ceo-grid.about {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    align-items: flex-start;
  }

  .hero-2 {
    background-position: 100% 0;
    background-size: 550px;
    min-height: auto;
    padding-top: 520px;
    padding-bottom: 60px;
  }

  .hero-2.for-inner {
    padding-top: 160px;
  }

  .hero-2.for-inner.about {
    background-image: none;
    padding-top: 40px;
  }

  .hero-3 {
    background-position: 100% 0;
    background-size: 550px;
    min-height: auto;
    padding-top: 520px;
    padding-bottom: 60px;
  }

  .hero-3.for-inner {
    padding-top: 40px;
  }

  .hero-3.for-inner.no-photo {
    padding-top: 30px;
  }

  .hero-grid-2 {
    grid-row-gap: 60px;
    flex-direction: column;
    display: flex;
  }

  .contact-grid-main {
    grid-row-gap: 30px;
    grid-template-columns: 1.2fr;
  }

  .contact-grid-main.single-column {
    grid-column-gap: 0px;
  }

  .divider-line {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .legal-wrapper {
    width: 100%;
    max-width: 90%;
  }

  .modal-scroll {
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .service-page-wrapper {
    max-width: 100%;
  }

  .page-grid {
    grid-row-gap: 30px;
    flex-direction: column-reverse;
    margin-top: 0;
    display: flex;
  }

  .main-flex {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }

  .sidebar {
    position: relative;
    top: 0;
  }

  .sidebar.hide-mobile {
    display: none;
  }

  .hero-5 {
    background-position: 100% 0;
    background-size: 550px;
    min-height: auto;
    padding-top: 520px;
    padding-bottom: 60px;
  }

  .hero-5.for-inner {
    padding-top: 160px;
  }

  .hero-5.for-inner.no-photo {
    padding-top: 30px;
  }

  .hero-grid-4 {
    grid-row-gap: 60px;
    flex-direction: column;
    display: flex;
  }

  .blog-wrapper {
    max-width: 90%;
  }

  .section-2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .kokoomus-logo-wrapper {
    padding-top: 14px;
    padding-bottom: 14px;
    display: block;
  }

  .home-about-image-wrapper {
    padding-top: 180%;
  }

  .relative-image-wrapper.tule-mukaan-hero {
    display: none;
  }

  .aluevaalit-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .footer-logo-link {
    margin-bottom: 1.5rem;
    padding-left: 0;
  }

  .footer-link-main:hover {
    color: #667085;
  }

  .footer-main-grid {
    flex-direction: column-reverse;
    align-items: stretch;
    display: flex;
  }

  .footer-grid {
    grid-column-gap: 1.5rem;
  }

  .footer-left-wrapper {
    max-width: 90%;
  }

  .hero-w-width.on-inner {
    max-width: 100%;
  }

  .display-1 {
    font-size: 59px;
  }

  .grid-2-columns {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
  }

  .grid-2-columns.home-about, .grid-2-columns.home-about.inverse, .grid-2-columns.ratio {
    grid-template-columns: 1fr;
  }

  .section.privacy-policy {
    padding-top: 40px;
  }

  .title-fade.for-fade {
    font-size: 34px;
    line-height: 1.2;
  }

  .title-fade.for-fade.biger {
    font-size: 40px;
  }

  .title-fade.for-fade.h1-home {
    font-size: 59px;
  }

  .absolute-image.tall {
    height: 400px;
  }

  .features-title-2 {
    font-size: 1.25rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-top: -8px;
  }

  .grid.two-columns, .blog-list {
    grid-template-columns: 1fr;
  }

  .flex-title {
    grid-row-gap: 25px;
    flex-direction: column;
    align-items: flex-start;
  }

  .blog-title {
    font-size: 30px;
  }

  .hero-2.for-inner {
    padding-top: 130px;
  }

  .hero-2.for-inner.about {
    background-image: none;
    padding-top: 40px;
  }

  .contact-grid-main, .contact-grid-main.single-column {
    grid-template-columns: 1fr;
  }

  .label {
    max-width: 95%;
  }

  .form-grid {
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    grid-template-columns: 1fr;
  }

  .divider-line {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .legal-wrapper {
    max-width: 100%;
  }

  .upgrade-container {
    flex-direction: column;
    margin-bottom: 70px;
    padding-top: 50px;
    padding-left: 7%;
    padding-right: 7%;
  }

  .popup-text {
    margin-bottom: 30px;
    font-size: 14px;
  }

  .modal-scroll {
    overflow: auto;
  }

  .popup-header {
    font-size: 30px;
  }

  .sidebar.hide-mobile {
    display: none;
  }

  .hero-5.for-inner {
    padding-top: 130px;
  }

  .blog-meta-wrapper {
    font-size: .75rem;
  }

  .blog-image-container {
    width: 100%;
  }

  .blog-wrapper {
    max-width: 100%;
  }

  .home-about-image-wrapper, .relative-image-wrapper.tule-mukaan-150 {
    padding-top: 100%;
  }

  .footer-legal-wrapper {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .values-grid {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
  }

  .logo-text {
    font-size: 26px;
    display: block;
  }

  .logo-text.small {
    font-size: 24px;
  }

  .button-arrow-link {
    align-self: stretch;
    padding-left: 30px;
    padding-right: 25px;
  }

  .button-arrow-link.transparent {
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
  }

  .button-arrow-link.transparent.show-mobile {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 15px;
    display: block;
  }

  .button-arrow-link.transparent.darker.navigation {
    display: none;
  }

  .first-element {
    grid-row-gap: 0px;
  }

  .label-button {
    font-size: 16px;
  }

  .label-button.font-17p {
    font-size: 17px;
  }

  .menu-button {
    justify-content: flex-end;
    align-self: flex-end;
    padding: 0;
  }

  .nav-link {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 17px;
  }

  .nav-menu {
    padding-top: 19px;
  }

  .nav-component {
    padding: 19px 0%;
  }

  .flex-nav-button {
    grid-row-gap: 10px;
    flex-direction: column;
    align-items: stretch;
  }

  .hamburger-menu {
    width: 22px;
  }

  .kokoomus-logo {
    width: 39px;
  }

  .kokoomus-logo.show-mobile {
    width: 52px;
    display: block;
  }

  .nav-container {
    grid-template-columns: 1fr 1fr;
  }

  .footer {
    padding-left: 24px;
    padding-right: 24px;
  }

  .footer-link-main {
    color: var(--musta);
    margin-bottom: 14px;
  }

  .footer-main-grid {
    grid-row-gap: 48px;
  }

  .footer-grid {
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .footer-title {
    margin-bottom: 24px;
    font-size: 18px;
  }

  .copyright-2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .display-1 {
    letter-spacing: .5px;
    font-size: 46px;
    line-height: 1.3;
  }

  .display-1.for-blog-page {
    font-size: 36px;
    line-height: 1.2;
  }

  .display-1.for-blog-page.hide-mobile {
    display: none;
  }

  .display-1.for-blog-page.show-mobile {
    display: block;
  }

  .subhead {
    font-size: 17px;
  }

  .hero {
    background-image: linear-gradient(#0000, #0000);
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 0;
    display: block;
  }

  .button-flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .button-flex.horizontal {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex-direction: row;
    align-items: center;
  }

  .hero-grid {
    grid-column-gap: 64px;
    grid-row-gap: 64px;
  }

  .qoute-margin {
    font-size: 26px;
    line-height: 1.3;
  }

  .grid-2-columns.home-about {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  .section {
    padding-left: 24px;
    padding-right: 24px;
  }

  .section.for-contact {
    padding-top: 60px;
  }

  .section.privacy-policy {
    padding-top: 40px;
  }

  .title-fade {
    font-size: 34px;
  }

  .title-fade.for-fade.blue {
    font-size: 26px;
    line-height: 1.3;
  }

  .title-fade.for-fade.biger {
    font-size: 38px;
    line-height: 1.2;
  }

  .title-fade.for-fade.h1-home {
    font-size: 48px;
  }

  .title-fade.for-fade.h1 {
    font-size: 38px;
    line-height: 1.2;
  }

  .absolute-image.tall, .absolute-image.join {
    height: 100%;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .grid.two-columns {
    grid-column-gap: 26px;
    grid-row-gap: 26px;
    grid-template-columns: 1fr;
  }

  .feautes-item._2 {
    padding-top: 28px;
    padding-bottom: 36px;
  }

  .blog-title {
    font-size: 24px;
    line-height: 28px;
  }

  .ceo-grid {
    max-width: 100%;
  }

  .ceo-grid.tule-mukaan {
    grid-column-gap: 54px;
    grid-row-gap: 54px;
    flex-direction: column-reverse;
  }

  .ceo-grid.about {
    grid-column-gap: 54px;
    grid-row-gap: 54px;
  }

  .hero-2 {
    background-size: contain;
    padding-top: 95%;
  }

  .hero-2.for-inner {
    padding-top: 120px;
    padding-bottom: 40px;
  }

  .hero-2.for-inner.about {
    padding-top: 40px;
  }

  .hero-3 {
    background-size: contain;
    padding-top: 95%;
  }

  .hero-grid-2 {
    grid-row-gap: 40px;
  }

  .button {
    padding: 11px 28px;
  }

  .text-area {
    padding-left: 18px;
    padding-right: 18px;
  }

  .text-area::placeholder {
    font-size: 16px;
    line-height: 24px;
  }

  .label {
    font-size: 24px;
    line-height: 28px;
  }

  .input {
    min-height: 54px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .input::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .contact-form-left-side {
    padding-left: 0;
    padding-right: 0;
  }

  .contact-link {
    font-size: 16px;
    line-height: 26px;
  }

  .divider-line {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .contact-details-flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-form-right-side {
    padding: 48px 24px;
  }

  .upgrade-container {
    margin-bottom: 70px;
    padding-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
  }

  .popup-text {
    margin-bottom: 25px;
  }

  .main-flex {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .main-flex.smaller-gap {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .sidebar.hide-mobile {
    display: none;
  }

  .hero-5 {
    background-size: contain;
    padding-top: 95%;
  }

  .hero-5.for-inner {
    padding-top: 120px;
    padding-bottom: 40px;
  }

  .hero-grid-4 {
    grid-row-gap: 40px;
  }

  .section-2 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .section-2.blog-page {
    padding-top: 10px;
  }

  .blog-rich-text-block h2 {
    font-size: 24px;
  }

  .blog-rich-text-block h3 {
    font-size: 22px;
  }

  .security-wrapper-2 {
    flex-direction: column;
  }

  .security-text {
    text-align: center;
    width: 90%;
    margin-top: 14px;
    padding-left: 0;
    line-height: 25px;
  }

  .privacy-policy-heading {
    font-size: 34px;
  }

  .center-mobile {
    text-align: center;
  }

  .kokoomus-logo-wrapper {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 0;
    display: flex;
  }

  .article-author-contents {
    flex-direction: column;
    display: flex;
  }

  .article-author {
    margin-bottom: 60px;
  }

  .home-about-image-wrapper {
    width: 100%;
  }

  .relative-image-wrapper.kuntavaalit {
    margin-bottom: 28px;
    padding-top: 75%;
  }

  .relative-image-wrapper.tule-mukaan-hero {
    padding-top: 100%;
  }

  .home-about-image.mobile-scale-1-2 {
    transform: scale(1.2);
  }

  .home-image-shape {
    display: none;
  }

  .footer-legal-wrapper {
    flex-flow: column-reverse;
  }

  .two-button-flex {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .aluevaalit-grid {
    grid-template-columns: 1fr;
  }
}

#w-node-_00312483-6939-25d2-79b3-560d77a39e08-76bf41d7, #w-node-_00312483-6939-25d2-79b3-560d77a39e20-76bf41d7, #w-node-_08382b01-1c9d-ddff-a5b3-3dad679004d0-76bf41d7, #w-node-_08382b01-1c9d-ddff-a5b3-3dad679004d4-76bf41d7 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_8865e196-3821-799d-36c4-0b93216da786-76bf41d7 {
  grid-area: 1 / 2 / 2 / 4;
}

#w-node-_8865e196-3821-799d-36c4-0b93216da796-76bf41d7 {
  grid-area: 2 / 1 / 3 / 3;
}

#w-node-_8865e196-3821-799d-36c4-0b93216da7a6-76bf41d7 {
  grid-area: 2 / 3 / 3 / 5;
}

#w-node-_71fd9e2f-52a4-d650-3067-56576372f426-76bf41d7, #w-node-_71fd9e2f-52a4-d650-3067-56576372f424-76bf41d7, #w-node-_7d94fd87-7f7d-bc47-0945-283d31681022-76bf41d7, #w-node-_7d94fd87-7f7d-bc47-0945-283d31681024-76bf41d7, #w-node-_97164ae2-855b-066b-d061-ba59cbc7de98-cbc7de95, #w-node-d5081dab-c288-f06e-2e45-5471204af98a-cbc7de95, #w-node-abf48c4c-1670-69d7-9dd0-c2d4d9d72c8f-d9d72c8f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_92d1834b-acd1-fa95-efe5-91a8285dee50-285dee4e {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_92d1834b-acd1-fa95-efe5-91a8285dee55-285dee4e, #w-node-a6588480-0a5c-11f3-41c0-fd656ecf3417-85071e42, #w-node-_8dc781d2-98cf-38e8-014c-70a71431c3c9-85071e42, #w-node-_8dc781d2-98cf-38e8-014c-70a71431c3e2-85071e42 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_26bcc85d-ec27-28c9-61fc-2016d2a324fe-2696ec8c, #w-node-_26bcc85d-ec27-28c9-61fc-2016d2a32504-2696ec8c {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-f6ac080f-042e-1dff-11e2-f41fcd9f3f3e-cd9f3f3a, #w-node-_8b94f9b5-0317-d42c-78dc-3b71bb167077-dd0e6bc5, #w-node-_99164abd-f4e0-4e9e-089d-21880ef93926-dd0e6bc5, #w-node-_99164abd-f4e0-4e9e-089d-21880ef9392a-dd0e6bc5, #w-node-aa13fee1-627a-f37e-1f37-f72273932d36-dd0e6bc5, #w-node-aa13fee1-627a-f37e-1f37-f72273932d32-dd0e6bc5 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_26bcc85d-ec27-28c9-61fc-2016d2a324dd-dd0e6bc5 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_26bcc85d-ec27-28c9-61fc-2016d2a324fe-dd0e6bc5, #w-node-_26bcc85d-ec27-28c9-61fc-2016d2a32504-dd0e6bc5, #w-node-_8e413567-1322-d97f-aad9-c289da515559-dd0e6bc5 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_1bc59fde-0d02-35d8-1d55-b335641727c0-19f9cd59, #w-node-_4906fcdd-2a39-5c99-07ae-c4a36a677085-7bd7f352 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_4906fcdd-2a39-5c99-07ae-c4a36a677085-7bd7f352 {
    grid-area: 1 / 1 / 2 / 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_08382b01-1c9d-ddff-a5b3-3dad679004d0-76bf41d7 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_8865e196-3821-799d-36c4-0b93216da786-76bf41d7, #w-node-_8865e196-3821-799d-36c4-0b93216da796-76bf41d7, #w-node-_8865e196-3821-799d-36c4-0b93216da7a6-76bf41d7 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_71fd9e2f-52a4-d650-3067-56576372f424-76bf41d7, #w-node-d5081dab-c288-f06e-2e45-5471204af98a-cbc7de95, #w-node-aa13fee1-627a-f37e-1f37-f72273932d32-dd0e6bc5 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_26bcc85d-ec27-28c9-61fc-2016d2a324dd-dd0e6bc5 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_26bcc85d-ec27-28c9-61fc-2016d2a324fe-2696ec8c {
    grid-column: span 1 / span 1;
  }

  #w-node-_26bcc85d-ec27-28c9-61fc-2016d2a32504-2696ec8c {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_26bcc85d-ec27-28c9-61fc-2016d2a324fe-dd0e6bc5 {
    grid-column: span 1 / span 1;
  }

  #w-node-_26bcc85d-ec27-28c9-61fc-2016d2a32504-dd0e6bc5 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_8e413567-1322-d97f-aad9-c289da515559-dd0e6bc5 {
    grid-column: span 1 / span 1;
  }
}


